In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

In [2]:
import pandas as pd
import numpy as np
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15,MULTIPLE_OFFENSE
0,CR_102659,04-JUL-04,0,36,34,2,1,5,6,1,6,1,174,1.0,92,29,36,0
1,CR_189752,18-JUL-17,1,37,37,0,0,11,17,1,6,1,236,1.0,103,142,34,1
2,CR_184637,15-MAR-17,0,3,2,3,5,1,0,2,3,1,174,1.0,110,93,34,1
3,CR_139071,13-FEB-09,0,33,32,2,1,7,1,1,6,1,249,1.0,72,29,34,1
4,CR_109335,13-APR-05,0,33,32,2,1,8,3,0,5,1,174,0.0,112,29,43,1

In [4]:
train.isnull().sum()

INCIDENT_ID           0
DATE                  0
X_1                   0
X_2                   0
X_3                   0
X_4                   0
X_5                   0
X_6                   0
X_7                   0
X_8                   0
X_9                   0
X_10                  0
X_11                  0
X_12                182
X_13                  0
X_14                  0
X_15                  0
MULTIPLE_OFFENSE      0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

#df = df.drop('class', axis=1)

imputer = SimpleImputer(missing_values=np.nan, strategy='median')
train[["X_12"]] = imputer.fit_transform(train[["X_12"]])

In [39]:
#train.isnull().sum()

In [7]:
train.shape

(23856, 18)

In [8]:
test.head()

,INCIDENT_ID,DATE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,X_12,X_13,X_14,X_15
0,CR_195453,01-FEB-18,0,30,35,7,3,6,4,0,5,1,174,NaN,72,119,23
1,CR_103520,05-MAR-04,0,44,44,1,3,7,1,4,6,1,316,0.0,12,29,34
2,CR_196089,27-JAN-18,0,34,33,3,5,2,7,3,0,1,316,1.0,72,0,34
3,CR_112195,18-AUG-06,7,3,2,3,5,9,8,0,5,1,174,1.0,112,87,34
4,CR_149832,31-OCT-11,0,7,8,7,3,2,7,1,5,1,174,0.0,112,93,43

In [9]:
test.shape

(15903, 17)

In [10]:
merged = pd.concat([train, test])
#Saving the list of original features in a new list `original_features`.
original_features = merged.columns
merged.shape

C:\Users\sachi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

(39759, 18)

In [11]:
from matplotlib import *
import matplotlib.pyplot as plt
train.MULTIPLE_OFFENSE.value_counts().plot(kind="bar")

In [12]:
idx = features = merged.columns.values[0:17]
for df in [merged]:
    df['sum'] = df[idx].sum(axis=1)  
    df['max'] = df[idx].max(axis=1)
    df['mean'] = df[idx].mean(axis=1)
    df['std'] = df[idx].std(axis=1)
    df['skew'] = df[idx].skew(axis=1)
    df['kurt'] = df[idx].kurtosis(axis=1)

In [13]:
df.head()

,DATE,INCIDENT_ID,MULTIPLE_OFFENSE,X_1,X_10,X_11,X_12,X_13,X_14,X_15,...,X_6,X_7,X_8,X_9,sum,max,mean,std,skew,kurt
0,04-JUL-04,CR_102659,0.0,0,1,174,1.0,92,29,36,...,5,6,1,6,418.0,174.0,27.866667,47.621824,2.461261,6.426920
1,18-JUL-17,CR_189752,1.0,1,1,236,1.0,103,142,34,...,11,17,1,6,622.0,236.0,41.466667,68.131036,2.109187,4.233544
2,15-MAR-17,CR_184637,1.0,0,1,174,1.0,110,93,34,...,1,0,2,3,430.0,174.0,28.666667,53.391635,1.980445,3.166691
3,13-FEB-09,CR_139071,1.0,0,1,249,1.0,72,29,34,...,7,1,1,6,464.0,249.0,30.933333,63.808269,3.239211,11.284662
4,13-APR-05,CR_109335,1.0,0,1,174,0.0,112,29,43,...,8,3,0,5,439.0,174.0,29.266667,49.896273,2.262283,4.936534

In [14]:
train = merged.iloc[:len(train)]
X = train
train.head()

,DATE,INCIDENT_ID,MULTIPLE_OFFENSE,X_1,X_10,X_11,X_12,X_13,X_14,X_15,...,X_6,X_7,X_8,X_9,sum,max,mean,std,skew,kurt
0,04-JUL-04,CR_102659,0.0,0,1,174,1.0,92,29,36,...,5,6,1,6,418.0,174.0,27.866667,47.621824,2.461261,6.426920
1,18-JUL-17,CR_189752,1.0,1,1,236,1.0,103,142,34,...,11,17,1,6,622.0,236.0,41.466667,68.131036,2.109187,4.233544
2,15-MAR-17,CR_184637,1.0,0,1,174,1.0,110,93,34,...,1,0,2,3,430.0,174.0,28.666667,53.391635,1.980445,3.166691
3,13-FEB-09,CR_139071,1.0,0,1,249,1.0,72,29,34,...,7,1,1,6,464.0,249.0,30.933333,63.808269,3.239211,11.284662
4,13-APR-05,CR_109335,1.0,0,1,174,0.0,112,29,43,...,8,3,0,5,439.0,174.0,29.266667,49.896273,2.262283,4.936534

In [15]:
test = merged.iloc[len(train):]
test.head()

,DATE,INCIDENT_ID,MULTIPLE_OFFENSE,X_1,X_10,X_11,X_12,X_13,X_14,X_15,...,X_6,X_7,X_8,X_9,sum,max,mean,std,skew,kurt
0,01-FEB-18,CR_195453,NaN,0,1,174,NaN,72,119,23,...,6,4,0,5,474.0,174.0,36.461538,54.085758,1.829582,2.759173
1,05-MAR-04,CR_103520,NaN,0,1,316,0.0,12,29,34,...,7,1,4,6,496.0,316.0,35.428571,82.449718,3.486586,12.597067
2,27-JAN-18,CR_196089,NaN,0,1,316,1.0,72,0,34,...,2,7,3,0,511.0,316.0,36.500000,83.153010,3.358914,11.816214
3,18-AUG-06,CR_112195,NaN,7,1,174,1.0,112,87,34,...,9,8,0,5,446.0,174.0,31.857143,53.765670,1.921840,2.972539
4,31-OCT-11,CR_149832,NaN,0,1,174,0.0,112,93,43,...,2,7,1,5,458.0,174.0,32.714286,54.463013,1.824188,2.541538

In [16]:
test2=test.drop(["MULTIPLE_OFFENSE","INCIDENT_ID","DATE"],1)

In [17]:
features=train.drop(["INCIDENT_ID","MULTIPLE_OFFENSE","DATE"],1)
target=train["MULTIPLE_OFFENSE"]

In [18]:
features.head()

,X_1,X_10,X_11,X_12,X_13,X_14,X_15,X_2,X_3,X_4,...,X_6,X_7,X_8,X_9,sum,max,mean,std,skew,kurt
0,0,1,174,1.0,92,29,36,36,34,2,...,5,6,1,6,418.0,174.0,27.866667,47.621824,2.461261,6.426920
1,1,1,236,1.0,103,142,34,37,37,0,...,11,17,1,6,622.0,236.0,41.466667,68.131036,2.109187,4.233544
2,0,1,174,1.0,110,93,34,3,2,3,...,1,0,2,3,430.0,174.0,28.666667,53.391635,1.980445,3.166691
3,0,1,249,1.0,72,29,34,33,32,2,...,7,1,1,6,464.0,249.0,30.933333,63.808269,3.239211,11.284662
4,0,1,174,0.0,112,29,43,33,32,2,...,8,3,0,5,439.0,174.0,29.266667,49.896273,2.262283,4.936534

In [19]:
features.isnull().sum()

X_1     0
X_10    0
X_11    0
X_12    0
X_13    0
X_14    0
X_15    0
X_2     0
X_3     0
X_4     0
X_5     0
X_6     0
X_7     0
X_8     0
X_9     0
sum     0
max     0
mean    0
std     0
skew    0
kurt    0
dtype: int64

In [20]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaler.fit(features)
features = scaler.transform(features)
test2 = scaler.transform(test2)

In [21]:
features=pd.DataFrame(features)
test2=pd.DataFrame(test2)

In [55]:

import numpy as np
print(np.linspace(start = 5, stop = 10, num = 2))

[ 5. 10.]

In [22]:
from imblearn.over_sampling import SMOTE
sampler = SMOTE(sampling_strategy='minority')
features_sm ,target_sm = sampler.fit_sample(features,target)

In [23]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 10 , stop = 15, num = 2)]   # returns evenly spaced 10 numbers
# Number of features to consider at every split
max_features = ['auto', 'log2']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 10, num = 2)]  # returns evenly spaced numbers can be changed to any
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

print(random_grid)

{'n_estimators': [10, 15], 'max_features': ['auto', 'log2'], 'max_depth': [5, 10, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [24]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state = 100)
# Use the random grid to search for best hyperparameters

# Random search of parameters, using 3 fold cross validation, 
rf_random = RandomizedSearchCV(estimator=rf, param_distributions=random_grid,
                              n_iter = 5,  
                              cv = 3, verbose=2, random_state=42, n_jobs=-1,
                              return_train_score=True)

# Fit the random search model
rf_random.fit(features_sm ,target_sm);

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   8 out of  15 | elapsed:    3.1s remaining:    2.7s
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:    3.2s finished

In [25]:

param = {
    'bagging_freq': 5,
    'bagging_fraction': 0.33,
    'boost_from_average':'false',
    'boost': 'gbdt',
    'feature_fraction': 0.05,
    'learning_rate': 0.01,
    'max_depth': -1,
    'metric':'auc',
    'min_data_in_leaf': 80,
    'min_sum_hessian_in_leaf': 10.0,
    'num_leaves': 13,
    'num_threads': 12,
    'tree_learner': 'serial',
    'objective': 'binary',
    'verbosity': 1
}

In [27]:
!pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/1f/cb/a8ec24334c35a7d0c87b4e4e056bd2137573c7c1bd81c760b79a2f370254/lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544kB)
Requirement already satisfied: scipy in c:\users\sachi\anaconda3\lib\site-packages (from lightgbm) (1.2.1)
Requirement already satisfied: scikit-learn in c:\users\sachi\anaconda3\lib\site-packages (from lightgbm) (0.23.1)
Requirement already satisfied: numpy in c:\users\sachi\anaconda3\lib\site-packages (from lightgbm) (1.16.4)
Requirement already satisfied: joblib>=0.11 in c:\users\sachi\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.13.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sachi\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (2.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

In [28]:

import lightgbm as lgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

In [29]:

num_round = 100000
folds = StratifiedKFold(n_splits=15, shuffle=False, random_state=100)
oof = np.zeros(len(features))
predictions = np.zeros(len(test2))

C:\Users\sachi\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:297: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [30]:
for fold_, (trn_idx, val_idx) in enumerate(folds.split(features.values, target.values)):
    print("Fold {}".format(fold_))
    trn_data = lgb.Dataset(features_sm.iloc[trn_idx], label=target_sm.iloc[trn_idx])
    val_data = lgb.Dataset(features_sm.iloc[val_idx], label=target_sm.iloc[val_idx])
    clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=1000, early_stopping_rounds = 2500)
    oof[val_idx] = clf.predict(features.iloc[val_idx], num_iteration=clf.best_iteration)
    predictions += clf.predict(test2, num_iteration=clf.best_iteration) / folds.n_splits
print("CV score: {:<8.5f}".format(roc_auc_score(target, oof)))

Fold 0
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998566	valid_1's auc: 0.995291
[2000]	training's auc: 0.999609	valid_1's auc: 0.99637
[3000]	training's auc: 0.999794	valid_1's auc: 0.997019
[4000]	training's auc: 0.999858	valid_1's auc: 0.997156
[5000]	training's auc: 0.999885	valid_1's auc: 0.997303
[6000]	training's auc: 0.999898	valid_1's auc: 0.997422
[7000]	training's auc: 0.999912	valid_1's auc: 0.997422
[8000]	training's auc: 0.999924	valid_1's auc: 0.997303
Early stopping, best iteration is:
[6207]	training's auc: 0.999903	valid_1's auc: 0.99754
Fold 1
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.99819	valid_1's auc: 0.99722
[2000]	training's auc: 0.999398	valid_1's auc: 0.998839
[3000]	training's auc: 0.999634	valid_1's auc: 0.999314
[4000]	training's auc: 0.999724	valid_1's auc: 0.999561
[5000]	training's auc: 0.999764	valid_1's auc: 0.999616
[6000]	training's auc: 0.999786	valid_1's auc: 0.999662
[7000]	training's auc: 0.999809	valid_1's auc: 0.999671
[8000]	training's auc: 0.999818	valid_1's auc: 0.999689
[9000]	training's auc: 0.999827	valid_1's auc: 0.999689
[10000]	training's auc: 0.999842	valid_1's auc: 0.999707
[11000]	training's auc: 0.999843	valid_1's auc: 0.999689
[12000]	training's auc: 0.999849	valid_1's auc: 0.999707
[13000]	training's auc: 0.999857	valid_1's auc: 0.999735
[14000]	training's auc: 0.999858	valid_1's auc: 0.999717
[15000]	training's auc: 0.999861	valid_1's auc: 0.999726
[16000]	training's auc: 0.999867	valid_1's auc: 0.999735
[17000]	training's auc: 0.99987	valid_1's auc: 0.999726
[18000]	training's auc: 0.999875	valid_1's auc: 0.999753
[19000]	training's auc: 0.999875	valid_1's auc: 0.999735
Early stopping, best iteration is:
[17270]	training's auc: 0.999871	valid_1's auc: 0.999762
Fold 2
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998063	valid_1's auc: 0.994505
[2000]	training's auc: 0.999377	valid_1's auc: 0.997321
[3000]	training's auc: 0.999643	valid_1's auc: 0.998071
[4000]	training's auc: 0.999731	valid_1's auc: 0.99818
[5000]	training's auc: 0.999772	valid_1's auc: 0.998254
[6000]	training's auc: 0.99979	valid_1's auc: 0.998226
[7000]	training's auc: 0.99981	valid_1's auc: 0.998336
[8000]	training's auc: 0.999821	valid_1's auc: 0.99829
[9000]	training's auc: 0.999835	valid_1's auc: 0.998308
Early stopping, best iteration is:
[7140]	training's auc: 0.999812	valid_1's auc: 0.998372
Fold 3
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.99827	valid_1's auc: 0.997795
[2000]	training's auc: 0.999414	valid_1's auc: 0.999268
[3000]	training's auc: 0.999641	valid_1's auc: 0.999546
[4000]	training's auc: 0.999721	valid_1's auc: 0.999648
[5000]	training's auc: 0.99976	valid_1's auc: 0.999685
[6000]	training's auc: 0.999782	valid_1's auc: 0.999703
[7000]	training's auc: 0.999801	valid_1's auc: 0.999713
[8000]	training's auc: 0.999812	valid_1's auc: 0.999722
[9000]	training's auc: 0.999826	valid_1's auc: 0.99975
[10000]	training's auc: 0.999837	valid_1's auc: 0.999778
[11000]	training's auc: 0.999837	valid_1's auc: 0.999778
[12000]	training's auc: 0.999841	valid_1's auc: 0.999778
Early stopping, best iteration is:
[9935]	training's auc: 0.999836	valid_1's auc: 0.999787
Fold 4
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998167	valid_1's auc: 0.998721
[2000]	training's auc: 0.99939	valid_1's auc: 0.999416
[3000]	training's auc: 0.999639	valid_1's auc: 0.999546
[4000]	training's auc: 0.99972	valid_1's auc: 0.999574
[5000]	training's auc: 0.999761	valid_1's auc: 0.999583
[6000]	training's auc: 0.999788	valid_1's auc: 0.999555
Early stopping, best iteration is:
[3844]	training's auc: 0.999715	valid_1's auc: 0.999611
Fold 5
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998261	valid_1's auc: 0.999009
[2000]	training's auc: 0.999399	valid_1's auc: 0.999685
[3000]	training's auc: 0.999636	valid_1's auc: 0.999842
[4000]	training's auc: 0.999723	valid_1's auc: 0.999861
[5000]	training's auc: 0.999767	valid_1's auc: 0.999898
[6000]	training's auc: 0.999791	valid_1's auc: 0.999917
[7000]	training's auc: 0.999813	valid_1's auc: 0.999935
[8000]	training's auc: 0.999823	valid_1's auc: 0.999954
[9000]	training's auc: 0.999837	valid_1's auc: 0.999963
[10000]	training's auc: 0.999849	valid_1's auc: 0.999972
[11000]	training's auc: 0.999849	valid_1's auc: 0.999972
[12000]	training's auc: 0.999855	valid_1's auc: 0.999972
[13000]	training's auc: 0.999858	valid_1's auc: 0.999972
[14000]	training's auc: 0.999861	valid_1's auc: 0.999991
[15000]	training's auc: 0.999866	valid_1's auc: 0.999991
Early stopping, best iteration is:
[13499]	training's auc: 0.999861	valid_1's auc: 0.999991
Fold 6
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998388	valid_1's auc: 0.996495
[2000]	training's auc: 0.999389	valid_1's auc: 0.999314
[3000]	training's auc: 0.999629	valid_1's auc: 0.999694
[4000]	training's auc: 0.99971	valid_1's auc: 0.999713
[5000]	training's auc: 0.999774	valid_1's auc: 0.999685
[6000]	training's auc: 0.999793	valid_1's auc: 0.999638
Early stopping, best iteration is:
[3553]	training's auc: 0.999686	valid_1's auc: 0.99974
Fold 7
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998174	valid_1's auc: 0.997543
[2000]	training's auc: 0.99938	valid_1's auc: 0.999036
[3000]	training's auc: 0.999626	valid_1's auc: 0.999527
[4000]	training's auc: 0.999709	valid_1's auc: 0.999573
[5000]	training's auc: 0.99977	valid_1's auc: 0.999601
[6000]	training's auc: 0.999782	valid_1's auc: 0.999611
[7000]	training's auc: 0.999812	valid_1's auc: 0.999583
[8000]	training's auc: 0.999819	valid_1's auc: 0.999583
Early stopping, best iteration is:
[5656]	training's auc: 0.999775	valid_1's auc: 0.999648
Fold 8
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998199	valid_1's auc: 0.997719
[2000]	training's auc: 0.999395	valid_1's auc: 0.99924
[3000]	training's auc: 0.99964	valid_1's auc: 0.999601
[4000]	training's auc: 0.999719	valid_1's auc: 0.99974
[5000]	training's auc: 0.999772	valid_1's auc: 0.999759
[6000]	training's auc: 0.999787	valid_1's auc: 0.999805
[7000]	training's auc: 0.999812	valid_1's auc: 0.999815
[8000]	training's auc: 0.999818	valid_1's auc: 0.999824
Early stopping, best iteration is:
[6414]	training's auc: 0.999797	valid_1's auc: 0.999824
Fold 9
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998281	valid_1's auc: 0.998628
[2000]	training's auc: 0.999379	valid_1's auc: 0.999638
[3000]	training's auc: 0.999625	valid_1's auc: 0.999768
[4000]	training's auc: 0.999708	valid_1's auc: 0.999768
[5000]	training's auc: 0.999764	valid_1's auc: 0.999787
[6000]	training's auc: 0.99978	valid_1's auc: 0.999777
Early stopping, best iteration is:
[3857]	training's auc: 0.999705	valid_1's auc: 0.999796
Fold 10
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998296	valid_1's auc: 0.996885
[2000]	training's auc: 0.999434	valid_1's auc: 0.998146
[3000]	training's auc: 0.999666	valid_1's auc: 0.998498
[4000]	training's auc: 0.999744	valid_1's auc: 0.998563
[5000]	training's auc: 0.999793	valid_1's auc: 0.998906
[6000]	training's auc: 0.999804	valid_1's auc: 0.998943
[7000]	training's auc: 0.999827	valid_1's auc: 0.998999
[8000]	training's auc: 0.999829	valid_1's auc: 0.998915
[9000]	training's auc: 0.999851	valid_1's auc: 0.999082
[10000]	training's auc: 0.999851	valid_1's auc: 0.998897
[11000]	training's auc: 0.999857	valid_1's auc: 0.998971
Early stopping, best iteration is:
[8997]	training's auc: 0.999851	valid_1's auc: 0.999082
Fold 11
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.99822	valid_1's auc: 0.998192
[2000]	training's auc: 0.999381	valid_1's auc: 0.999286
[3000]	training's auc: 0.999629	valid_1's auc: 0.999434
[4000]	training's auc: 0.999711	valid_1's auc: 0.999573
[5000]	training's auc: 0.999755	valid_1's auc: 0.999573
[6000]	training's auc: 0.999779	valid_1's auc: 0.999583

Early stopping, best iteration is:
[4495]	training's auc: 0.999742	valid_1's auc: 0.999629
Fold 12
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998399	valid_1's auc: 0.998442
[2000]	training's auc: 0.999401	valid_1's auc: 0.999481
[3000]	training's auc: 0.999633	valid_1's auc: 0.999685
[4000]	training's auc: 0.999706	valid_1's auc: 0.999731
[5000]	training's auc: 0.999748	valid_1's auc: 0.999759
[6000]	training's auc: 0.999771	valid_1's auc: 0.999824
[7000]	training's auc: 0.999789	valid_1's auc: 0.999833
[8000]	training's auc: 0.9998	valid_1's auc: 0.999842
[9000]	training's auc: 0.999815	valid_1's auc: 0.999852
[10000]	training's auc: 0.999821	valid_1's auc: 0.999842
[11000]	training's auc: 0.999827	valid_1's auc: 0.99987
[12000]	training's auc: 0.999837	valid_1's auc: 0.999879
[13000]	training's auc: 0.999838	valid_1's auc: 0.999898
Early stopping, best iteration is:
[11289]	training's auc: 0.999833	valid_1's auc: 0.999898
Fold 13
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998308	valid_1's auc: 0.997589
[2000]	training's auc: 0.999372	valid_1's auc: 0.99923
[3000]	training's auc: 0.999617	valid_1's auc: 0.999666
[4000]	training's auc: 0.999696	valid_1's auc: 0.999805
[5000]	training's auc: 0.999748	valid_1's auc: 0.999879
[6000]	training's auc: 0.999772	valid_1's auc: 0.999944
[7000]	training's auc: 0.99979	valid_1's auc: 0.999954
[8000]	training's auc: 0.999804	valid_1's auc: 0.999963
[9000]	training's auc: 0.999822	valid_1's auc: 0.999981
[10000]	training's auc: 0.999827	valid_1's auc: 0.999991
[11000]	training's auc: 0.999831	valid_1's auc: 0.999991
[12000]	training's auc: 0.999843	valid_1's auc: 0.999991
[13000]	training's auc: 0.999847	valid_1's auc: 1
Early stopping, best iteration is:
[10632]	training's auc: 0.999828	valid_1's auc: 1
Fold 14
Training until validation scores don't improve for 2500 rounds
[1000]	training's auc: 0.998405	valid_1's auc: 0.997311
[2000]	training's auc: 0.999424	valid_1's auc: 0.998841
[3000]	training's auc: 0.999643	valid_1's auc: 0.999295
[4000]	training's auc: 0.999719	valid_1's auc: 0.999388
[5000]	training's auc: 0.999762	valid_1's auc: 0.999462
[6000]	training's auc: 0.999781	valid_1's auc: 0.999434
[7000]	training's auc: 0.999796	valid_1's auc: 0.999397
Early stopping, best iteration is:
[4619]	training's auc: 0.999749	valid_1's auc: 0.999481
CV score: 0.99946

In [ ]:
INCIDENT_ID	MULTIPLE_OFFENSE

In [31]:
submission = pd.DataFrame({"INCIDENT_ID": test.INCIDENT_ID.values})
submission["MULTIPLE_OFFENSE1"] = predictions
#submission.to_csv("submission.csv", index=False)

In [32]:
submission.head()

  INCIDENT_ID  MULTIPLE_OFFENSE1
0   CR_195453           0.998666
1   CR_103520           0.999928
2   CR_196089           0.999775
3   CR_112195           0.999043
4   CR_149832           0.999874

In [33]:
def chang(dff):
    if(dff["MULTIPLE_OFFENSE1"]>0.87):
        return(1)
    else:
        return(0)

In [34]:
submission["MULTIPLE_OFFENSE"]=submission.apply(chang,axis=1)

In [35]:
submission["MULTIPLE_OFFENSE"].value_counts()

1    15074
0      829
Name: MULTIPLE_OFFENSE, dtype: int64

In [36]:
sub=submission[["INCIDENT_ID","MULTIPLE_OFFENSE"]]

In [37]:
sub.to_csv("submission10.csv", index=False)